body {
  width: 980px;
  margin: 30px auto;
}

.logout {
  text-align:right;
}


textarea {
  border-style: solid;
}

input {
  border-style: solid;
  margin-top: 5px;
  font-size: 14px;
}

.msg {
  margin-top: 30px;
}

.msg p {
  font-size: 10px;
}

.msg a {
  font-size: 10px;
}

.paging {
  font-size: 12px;
}

.paging li {
  float: left;
  margin: 25px;
}

.page_crearfix::after{
  content:"";
  display: block;
  clear: both;
}

li {
  list-style:none;
}

.re_del_flex{
  display: flex;
}

.reply{
  padding-top: 5px;
}

p.day {
  margin: 5px 5px 0px;
}

.delete {
  padding-top: 5px;
  color:#F33;
}

.rt_fav {
  display: flex;
}

.retweet a{
  text-decoration: none;
  font-size: 10px;
  margin-right: 30px;
}

.r_yes {
  color: green;
}

.r_no {
  color:gray;
}

.favorite a {
  text-decoration: none;
  font-size: 10px;
}

.f_yes {
  color:orange;
}

.f_no {
  color:gray;
}